{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Avatar</h1>
    <div class="container d-flex justify-content-center">
        <section class="row area">
            {{ form(avatarForm) }}
        </section>
    </div>
{% endblock %}
