{% extends 'base.html.twig' %}

{% block title %}Otsum{% endblock %}

{% block body %}
    <h1 class="text-center">OTSUM</h1>
    <div class="container d-flex justify-content-center">
        <section class="row area d-flex justify-content-center">
            <div class="block_bouton col-12 ">
                <div class="row">
                    <div class="col">
                        <a class="btn button d-block w-100" href="{{ path('otsum.soloGame') }}">Solo locale</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn button d-block w-100" href="{{ path('initHubPrive') }}">Multijoueur Privé</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn button d-block w-100" href="{{ path('classement') }}">Classement</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        $(document).ready(function(){

        });
    </script>
{% endblock %}
