{% extends 'base.html.twig' %}

{% block title %}Otsum{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="mot"></h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="choix">
                    <button type="button" class="btn btn-primary" value="5">5</button>
                    <button type="button" class="btn btn-primary" value="6">6</button>
                    <button type="button" class="btn btn-primary" value="7">7</button>
                    <button type="button" class="btn btn-primary" value="8">8</button>
                </div>
            </div>
        </div>
    </div>
    <h1>Otsum</h1>
    <p class="mot_a_trouver"></p>
    <div class="content container-fluid bg-light ">
        <div class="box"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <input type="text" id="search_field">
                <div id="keyboard"></div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
