.area {
    border-radius: 5px;
    box-shadow: -2px 3px 8px 0 #000;
    //background-image: url("/assets/bg.jpg");
    background-color: #313335;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 5%;
    width: 70%;
}

.toast-body, .toast-header {
    background-color: #170f0f;
}

.toast-header {
    border-bottom: 1px solid #313335;
}

.toast {
    background-color: unset;
    border: solid 1px #313335;
}

@media screen and (max-width: 767px){
    .area {
        width: 80%;
    }
}

.button {
    margin: 30px 0;
    box-shadow: -2px 3px 8px 0 #000;
}
*  {
    color: #C8B651;
    font-family: 'Poppins', sans-serif;
}

.btn  {
    color: #C8B651;
    background-color: #2B2B2B;
}

.btn:hover  {
    color: #fff;
}

.demande_contact_formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.demande_contact_formulaire img {
    width: 60px;
    height: 60px;
    background: #1db343;
    border-radius: 50%;
    box-shadow: 2px 1px 4px 0 #000;
}

.demande_contact_formulaire img:hover {
    box-shadow: 0 0 0 0 #000;
}

.demande_contact_formulaire form.show {
    display: inline-block;
}

section {
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    width: 70%;
    margin: auto;
}
