section.area.amis {
    margin: 0 auto 20px auto;
}

.avatar_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_profil {
    width: 100%;
}

.block_amis{
    width: 100%;
    .demandes_contact_reçues {
        tr {
            display: flex;
        }
        .utilisateur {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .avatar, .defaultAvatar{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .action {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}
