body {
    background-color: #170f0f;
    color: #C8B651;
    margin: 110px 0 0 0;
}

h1 {
    margin: 40px 0;
    text-align: center;
}

//AVATAR
.avatar_par_defaut {
    background: #C8B651;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* Grille de jeu */
.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}
.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}
.content {
    margin: 50px 0;
}
.box {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1px;
    grid-auto-rows: minmax(70px, auto);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #DDDDDD;
    text-transform: uppercase;
    background-color: #185a82;
}

.is_in_cell {
    position: relative;
}

.is_in_cell p{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.is_in_cell::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #d2cf00;
    border-radius: 50%;
}

#search_field {
    display: none;
}

.valide_cell {
    background-color: rgb(179, 15, 15);
}

// Maj keyboard

// lettre placee
.jkeyboard .jline ul li.placee,
.jkeyboard .jline ul li.placee:hover, .jkeyboard .jline ul li.placee:active,
{
    -webkit-box-shadow: inset 0 0 3px #b30f0f;
    background-color: #b30f0f;
    border: 1px solid #b30f0f;
}

// lettre présente
.jkeyboard .jline ul li.presente,
.jkeyboard .jline ul li.presente:hover, .jkeyboard .jline ul li.presente:active,
{
    -webkit-box-shadow: inset 0 0 3px #d2cf00;
    background-color: #d2cf00;
    border: 1px solid #d2cf00;
}

// lettre présente
.jkeyboard .jline ul li.absente,
.jkeyboard .jline ul li.absente:hover, .jkeyboard .jline ul li.absente:active,
{
    -webkit-box-shadow: inset 0 0 3px gray;
    background-color: gray;
    border: 1px solid gray;
}

