.teams {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.actionHubMulti {
    height: 38px;
}

.teams .playerRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .avatar {
        width: 50px;
        border-radius: 50%;
    }
}

.chrono {

    position: relative;
    width: 30px;
    height: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .chronoTypeChoice {
        #chrono_chronoType {
            cursor: pointer;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        img.ban {
            visibility: hidden;
            position: absolute;
            top: 0;
            right: -3px;
            width: 15px;
            height: 15px;
            z-index: 1;
        }
        img.clock {
            z-index: 0;
            position: absolute;
            left: 0;
            top: 4px;
            width: 100%;
            visibility: visible;
            height: 30px;
            filter: brightness(0) saturate(100%) invert(32%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(99%) contrast(85%);
        }
        #chrono_chronoType:not(:checked) + img.ban {
            visibility: visible;
            filter: brightness(0) saturate(100%) invert(32%) sepia(20%) saturate(1232%) hue-rotate(308deg) brightness(90%) contrast(88%);
        }
    }
}

#invitationModal {
    .modal-footer, .modal-header, .modal-body, .modal-content {
        background-color: #170f0f;
    }
    ul {
        padding: 0;
        li {
            cursor: pointer;
            transition: all .5s;
            border-radius: 10px;
            background-color: #313335;
            display: flex;
            justify-content: start;
            align-items: center;
            list-style: none;
            margin: 10px 0;
            padding: 2%;
            .avatar, .defaultAvatar {
                margin-right: 20px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            &:hover {
                background-color: #bec6ce;
                color: #313335;
            }
        }
    }
}

.formLaunchGame {
    .versusType {
        background: #2B2B2B;
        border: none;
        border-radius: 5px 0 0 5px;
        padding: 0 0 0 11px;
    }
    .launchGame {
        border-radius: 0 5px 5px 0;
    }
}
