{% extends 'base.html.twig' %}

{% block title %}Otsum{% endblock %}

{% block body %}

<div class="example-wrapper">
    <input type="hidden" class="id" value="{{ id }}">
    <input type="hidden" class="ligne_actuelle" value="">
    <h1 class="text-center w-100">OTSUM</h1>
    <div class="content container-fluid">
        <div class="box"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <input type="text" id="search_field">
                <div id="keyboard"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
