{% extends 'base.html.twig' %}

{% block title %}Hello ClassementController!{% endblock %}

{% block body %}
    <h1>Classement</h1>
    <div class="container d-flex justify-content-center">
        <section class="row area d-flex justify-content-center">
            <div class="block_classement">
                <div class="row">
                    <div class="col">
                        <h2>Classement en ligne</h2>

                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
