{% extends 'base.html.twig' %}

{% block title %}Hello ClassementController!{% endblock %}

{% block body %}
    <h1>Classement</h1>
    <section class="area">
        <div class="block_classement">
            <div class="row">
                <div class="col">
                    <h2>Classement en ligne</h2>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
