{% extends 'base.html.twig' %}

{% block title %}Hello ClassementController!{% endblock %}

{% block body %}
    <style>
        img {
            background: #F1F1FA;
            width: 100%;
            height: 300px;
            display: block;
            margin: auto;
            border: 0;
        }
        .dropdown-menu.show {
            width: 100%;
        }
        .dropdown
        {
            position: static;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </nav>
    <h1>Classement</h1>
    <div class="container d-flex justify-content-center">
        <section class="row area d-flex justify-content-center">
            <div class="block_classement col-12 mb-5">
                <div class="row">
                    <h2>Classement en ligne</h2>
                </div>
                <div class="row g-0">
                    <div class="col-sm-6 col-md-8">.col-sm-6 .col-md-8</div>
                    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
                </div>
            </div>
            <div class="block_classement mb-5">
                <div class="row">
                    <div class="col-6">
                        <!-- Simple image -->
                        <a href="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300" class="glightbox">
                            <img class="" src="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300" alt="image"/>
                        </a>
                    </div>
                    <div class="col-6">
                        <!-- Video -->
                        <a href="{{ asset('pexels-video-1550080.mp4') }}" class="glightbox">
                            <img class="" src="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300" alt="image"/>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300" class="glightbox"
                           data-gallery="gallery">
                            <img class="" src="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300" alt="image"/>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{ asset('pexels-video-1550080.mp4') }}" class="glightbox" data-gallery="gallery">
                            <img class="" src="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300" alt="image"/>
                        </a>
                    </div>
                    <div class="col-6">
                        <!-- Simple Description -->
                        <a href="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300" class="glightbox"
                           data-glightbox="title: My title; description: this is the slide description">
                            <img class="lazy" data-src="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300"
                                 alt="image"/>
                        </a>
                    </div>
                    <div class="col-6">
                        <!-- Advanced Description -->
                        <a href="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300" class="glightbox"
                           data-glightbox="title: My title; description: .custom-desc1">
                            <img class="lazy" data-src="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300"
                                 alt="image"/>
                        </a>
                    </div>
                    <div class="col-6">
                        <div class="glightbox-desc custom-desc1">
                            <p>The content of this div will be used as the slide description</p>
                            <p>You can add links and any HTML you want</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_classement col-12 mb-5">
                <div class="row">
                    <div class="col">
                        <button type="button">Get URL</button>
                    </div>
                </div>
            </div>
            <div class="block_classement col-12 mb-5">
                <div class="row">
                    <div class="col lazyLoading">
                        <img src="https://ik.imagekit.io/demo/img/image1.jpeg?tr=w-400,h-300"/>
                        <img src="https://ik.imagekit.io/demo/img/image2.jpeg?tr=w-400,h-300"/>
                        <img src="https://ik.imagekit.io/demo/img/image3.jpg?tr=w-400,h-300"/>
                        <img class="lazy" data-src="https://ik.imagekit.io/demo/img/image4.jpeg?tr=w-400,h-300"/>
                        <img class="lazy" data-src="https://ik.imagekit.io/demo/img/image5.jpeg?tr=w-400,h-300"/>
                        <img class="lazy" data-src="https://ik.imagekit.io/demo/img/image6.jpeg?tr=w-400,h-300"/>
                        <img class="lazy" data-src="https://ik.imagekit.io/demo/img/image7.jpeg?tr=w-400,h-300"/>
                        <img class="lazy" data-src="https://ik.imagekit.io/demo/img/image8.jpeg?tr=w-400,h-300"/>
                        <img class="lazy" data-src="https://ik.imagekit.io/demo/img/image9.jpeg?tr=w-400,h-300"/>
                        <img class="lazy" data-src="https://ik.imagekit.io/demo/img/image10.jpeg?tr=w-400,h-300"/>

                    </div>
                </div>
            </div>
            <div class="block_classement col-12 mb-5">
                <div class="row">
                    <div class="col">
                        <div class="pswp-gallery pswp-gallery--single-column" id="my-gallery">
                            <a href="{{ asset('pexels-video-1550080.mp4') }}"
                               data-pswp-width="1669"
                               data-pswp-height="2500"
                               target="_blank">
                                <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
                                     alt=""/>
                            </a>
                            <!-- cropped thumbnail: -->
                            <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-2500.jpg"
                               data-pswp-width="1875"
                               data-pswp-height="2500"
                               data-cropped="true"
                               target="_blank">
                                <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-200.jpg"
                                     alt=""/>
                                Cropped
                            </a>
                            <!-- data-pswp-src with custom URL in href -->
                            <a href="https://unsplash.com"
                               data-pswp-src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-2500.jpg"
                               data-pswp-width="2500"
                               data-pswp-height="1666"
                               target="_blank">
                                <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-200.jpg"
                                     alt=""/>
                            </a>
                            <!-- Without thumbnail: -->
                            <a href="http://example.com"
                               data-pswp-src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/5/img-2500.jpg"
                               data-pswp-width="2500"
                               data-pswp-height="1668"
                               target="_blank">
                                No thumbnail
                            </a>
                            <!-- wrapped with any element: -->
                            <div>
                                <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-2500.jpg"
                                   data-pswp-width="2500"
                                   data-pswp-height="1667"
                                   target="_blank">
                                    <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-200.jpg"
                                         alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_classement col-12">
                <div class="row">
                    <div class="col">
                        <div class="your-class" id="my-gallery">
                            <div>
                                <a href="{{ asset('pexels-video-1550080.mp4') }}"
                                   data-pswp-width="2500"
                                   data-pswp-height="1667"
                                   target="_blank">
                                    <img class="m-auto w-50"
                                         data-lazy="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-200.jpg"
                                         alt=""/>
                                </a>
                            </div>
                            <div>
                                <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-2500.jpg"
                                   data-pswp-width="2500"
                                   data-pswp-height="1667"
                                   target="_blank">
                                    <img class="m-auto w-50"
                                         data-lazy="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-200.jpg"
                                         alt=""/>
                                </a>
                            </div>
                            <div>
                                <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-200.jpg"
                                   data-pswp-width="2500"
                                   data-pswp-height="1667"
                                   target="_blank">
                                    <img class="m-auto w-50"
                                         data-lazy="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-200.jpg"
                                         alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                var pageURL = $(location).attr("href");
                alert(pageURL);
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            var lazyloadImages = document.querySelectorAll("img.lazy");
            var lazyloadThrottleTimeout;

            function lazyload() {
                if (lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                }

                lazyloadThrottleTimeout = setTimeout(function () {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function (img) {
                        if (img.offsetTop < (window.innerHeight + scrollTop)) {
                            img.src = img.dataset.src;
                            img.classList.remove('lazy');
                        }
                    });
                    if (lazyloadImages.length === 0) {
                        document.removeEventListener("scroll", lazyload);
                        window.removeEventListener("resize", lazyload);
                        window.removeEventListener("orientationChange", lazyload);
                    }
                }, 20);
            }

            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
        });
        let myDropdown = $('#navbarDropdown');
        myDropdown.on('show.bs.dropdown', function () {
            $(myDropdown).next().css('padding-left', $(myDropdown).offset().left);
        })
        let myDropdown2 = $('#navbarDropdown2');
        myDropdown2.on('show.bs.dropdown', function () {
            $(myDropdown2).next().css('padding-left', $(myDropdown2).offset().left);
        })
        let myDropdown3 = $('#navbarDropdown3');
        myDropdown3.on('show.bs.dropdown', function () {
            $(myDropdown3).next().css('padding-left', $(myDropdown3).offset().left);
        })

    </script>
{% endblock %}
